*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #78C0E0;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1511512578047-dfb367046420?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    
}
#heading {
    margin-bottom: 5vmin;
    color:antiquewhite;

}

.container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18vmin;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #C57B57;
    background-color: aquamarine;

}

#Reset-Game {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: antiquewhite;
    color: #000;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color:rgb(231, 228, 135);
    height: 90px;
    width: 50vw;
    background-color: rgb(0, 0, 0);
    border-radius: 5rem;
    font-size: 8vmin;
}

.msg-constainer{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

